
<h1>Cocktails</h1>

<!-- <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
      <a class="card-link" href="#" ></a>
      </div>
    </div>
</div> -->


<table>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail_path(cocktail) %></td>
        <td><%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %></td>
        <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
        <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
